<p id="notice"><%= notice %></p>

<p>
  <strong>Awarenesseshasinformation:</strong>
  <%= @awarenesses_has_information.AwarenessesHasInformation %>
</p>

<%= link_to 'Edit', edit_awarenesses_has_information_path(@awarenesses_has_information) %> |
<%= link_to 'Back', awarenesses_has_informations_path %>
